[tag]
	forceSignAnnotated = true
[commit]
	gpgsign = true
[gpg]
	program = gpg
[core]
	editor = nano
[pull]
	rebase = true

[includeIf "gitdir:**/Users/tale/**/.git"]
	path = ~/.git/macbook-pro.gitconfig
[includeIf "gitdir:**/home/tale/**/.git"]
	path = ~/.git/linux-machine.gitconfig